* {
    padding: 0;
    margin: 0;
}

html * {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

html {
    background-color: #fff;
    height: 100%;
    color: #2e3436;
}

h2, h3 {
    font-size: small;
}

h2 {
    margin-bottom: 15px;
}

p {
    margin: 0;
    padding: 0;
}

.round-corner-bottom {
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}

#tab2, #tab5 {
    color: #555753;
}

#tab2 p {
    padding-right: 8px;
}

#book-step-2, #myaccount {
    padding: 26px 24px 15px;
    border: 1px solid #e5e5e5;
}

.no-border {
    padding: 0;
    border: none;
}

.tabbed-div {
    padding: 10px;
    width: 768px;
    min-height: 350px;
    background: #fff;
    border: 1px solid #dddddd;
    border-top: none;
    padding-bottom: 40px;
}

.height410 {
    height: 410px;
}

.tabs {
    border-bottom: 1px solid #dddddd;
    padding: 9px 0;
}

.tabs li {
    list-style: none;
    display: inline;
    margin: 0;
}

.tabs a {
    font-size: 12px;
    padding: 10px 8px;
    background: #c64887;
    color: #f8f8f8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #c64887;
    border-bottom: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 1px 0 #D98CB2 inset;
    -moz-box-shadow: 0 1px 0 #D98CB2 inset;
    -webkit-box-shadow: 0 1px 0 #D98CB2 inset;
}

.tabs a.active {
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 #dddddd inset;
    -moz-box-shadow: 0 1px 0 #dddddd inset;
    -webkit-box-shadow: 0 1px 0 #dddddd inset;
}

#calendar {
    width: 50%;
    float: left;
}

#calendar * {
    font-size: 10px;
}

#reservation-details {
    width: 50%;
    float: left;
}

#gallery * {
    color: #EFEFEF;
}

.ssignon {
    background-image: url("../img/icons.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

#facebook {
    background-position: 0 -881px;
}

#twitter {
    background-position: 0 -52px;
}

#google {
    background-position: 0 -120px;
}

#score {
    color: #C64887;
    border: 4px dashed #CCC;
    font-style: italic;
    font-size: 40px;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    float: left;
}

#gifts {
    width: 100%;
    float: left;
}

#gifts .gift{
    padding: 20px;
    margin: 24px 0;
    margin-right: 30px;
    display: inline-block;
    border: 1px solid #FFBD69;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    background: #FFE7A1;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: #AF0754;
}

.gift a {
    display: block;
    text-decoration: none;
    width: 128px;
    height: 128px;
    padding-top: 20px;
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.shadow {
    -moz-box-shadow: 0 5px 10px 0px #999;
    -webkit-box-shadow: 0 5px 10px 0px #999;
}

#main {
    width: 790px;
    overflow: hidden;
    padding: 15px 15px 0;
    background: #FFF;
}

#main #languages {
    display: inline;
    float: left;
    list-style-type: none;
    margin: 10px;
    width: 100%;
}

#admin-panel #languages {
    display: inline;
    float: left;
    list-style-type: none;
    width: 100%;
    margin-top: 15px;
}

#admin-panel #languages a {
    color: #fff;
}

#languages li {
    float: right;
    padding-left: 20px;
    padding-right: 8px;
}

#languages li a {
    text-decoration: none;
    color: #2e3436;
    font-size: 10px;
}

#languages li a:hover {
    color: #c64887;
}

#lang-eng {
    background: url("../img/uk_16x16.png") no-repeat left center;
}

#lang-spa {
    background: url("../img/es_16x16.png") no-repeat left center;
}

#content {
    float: left;
}

#footer {
    margin-top: 20px;
    text-align: left;
}

#footer * {
    font-size: 10px;
    color: #080808;
}

#footer * a {
    font-size: 10px;
    color: #C64887;
}

#signature {
    text-align: center;
    color: #c0c9d0;
    font-size: 9px;
    padding-top: 10px;
}

.elButtonRadius, .elButtonGreenRadius {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 20px;
}

.elButtonPurple, .elButtonPurpleRadius {
    background: #c64887;
}

.elButtonPurple:hover, .elButtonPurpleRadius:hover, .buttonGreen:hover {
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.elButton, .elButtonRadius, .elButtonWidth, .elButtonPurple, .elButtonPurpleRadius {
    position: relative;
    margin: 0;
    width: 131px;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    color: white;
    font-family: "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    background: url("../img/bt-modify.png") 0 0 no-repeat;
    /* border: 1px solid #A53455;
        background: #A01559; */
    border: 0;
    display: inline-block;
    cursor: pointer;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5);
}

.buttonGreen {
    background: url("../img/bt-reserve.png") 0 0 no-repeat;
}

.buttonGreenLogin {
    background: url("../img/bt-login.png") 0 0 no-repeat;
    width: 77px;
    height: 26px;
    line-height: 27px;
    font-size: 1.0em;
}

form {
    padding: 26px 24px 15px;
    font-weight: normal;
    background: #fff;
    border: 1px solid #e5e5e5;
}

label {
    color: #777;
    font-size: 14px;
}

.input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-weight: 200;
    font-size: 13px;
    width: 98%;
    padding: 3px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: none;
    font-weight: bold;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

#booking-date-human {
    width: 115px;
}

.left-column {
    width: 40%;
    float: left;
}

.right-column {
    margin-top: 12px;
    width: 55%;
    float: right;
}

#user-login-service {
    width: 100%;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
}

#user-login-service h3,
#user-login h3 {
    display: inline;
    font-size: 15px;
}

#box-idp {
    border: 1px solid #ddd;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    width: 140px;
    float: right;
    height: 100%;
    padding: 2px;
}

#box-idp a {
    float: left;
    margin-left: 11px;
    text-decoration: none;
}

#box-idp * img {
    border: 0;
}

#user-login {
    width: 100%;
    margin-top: 45px;
}

#user-login form {
    margin-top: 11px;
    width: 200px;
    float: right;
}

#footer-right {
    float: right;
    vertical-align: middle;
    line-height: 57px;
    height: 57px;
}

#footer-left {
    float: left;
    width: 70%;
}

#footer-logo {
    background: url("../img/shoutad-logo.png") 0 0;
    text-decoration: none;
    width: 73px;
    height: 57px;
    text-indent: -9999px;
    display: inline-block;
    float: right;
}

#success {
    margin: 0 auto;
    width: 570px;
}

#success-dialog {
    text-align: center;
    border: 2px solid #ccc;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
    width: 400px;
    margin-top: 48px;
    display: inline-block;
}

#success-dialog h3.dialog-title,
#success-dialog h3.dialog-subtitle  {
    font-size: 18px;
    font-weight: normal;
    padding: 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
}

#success-dialog h3.dialog-title {
    color: #fff;
    background: #C64887;
    border: 1px solid #C64887;
}

#success-dialog h3.dialog-subtitle {
    color: #000000;
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
}

#success-dialog img {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 14px;
}

#success-buttons {
    text-align: center;
    width: 140px;
    padding-bottom: 10px;
    display: inline-block;
}

#success-buttons a{
    padding-bottom: 6px;
    width: 132px;
    height: 28px;
}

.share-facebook {
    background: url("../img/fb_share.png") 0 0 no-repeat;
    padding-left: 5px;
}

.share-twitter {
    background: url("../img/tw_share.png") 0 0 no-repeat;
    padding-left: 5px;
}

.invite-email
{
    background: url("../img/email_invite.png") 0 0 no-repeat;
    padding-left: 32px;
    width: 182px;
    height: 39px;
    line-height: 39px;
    text-transform: none;
    color: #222222;
}

.invite-facebook
{
    background: url("../img/fb_invite.png") 0 0;
    width: 182px;
    height: 33px;
    line-height: 33px;
    text-transform: none;
}

.wide p {
    margin-right: 14px;
}

.req {
    color: #a40000;
    font-style: italic;
}

.orange {
    color: #df9a5a;
}

.greybg {
    background: #EEEEEC;
}

.clear {
    clear: both;
}

#login form {
    padding: 26px 24px 46px;
}

#admin-panel p, #login p {
    margin-bottom: 15px;
}

#login h1, #login h1 a {
    font-family: Verdana, Geneva, sans-serif;
    padding-bottom: 15px;
    display: block;
    color: #464646;
    font-size: 20px;
    font-weight: bold;
}

#login {
    width: 500px;
    margin: 7em auto;
}

#login_error, .message {
    margin: 0 0 16px 8px;
    border-width: 1px;
    border-style: solid;
    padding: 12px;
}

#login form .submit, #login .alignright {
    float: right;
}

.button-primary {
    font-family: sans-serif;
    padding: 3px 10px;
    border: none;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    text-decoration: none;
    margin-top: -3px;
}

#admin-panel {
    width: 100%;
    padding: 0;
    height: 100%;
    background: #eeeeec !important;
}

#admin-panel * a,
#admin-panel * a:visited {
    text-decoration: none;
    color: #3465A4;
    font-size: 12px;
}

#admin-panel #header {
    background: url("../img/header-bg.png") repeat-x;
    height: 62px;
    width: 100%;
}

#admin-panel #center {
    background-color: #fff !important;
    margin: auto;
    width: 1200px;
    padding-top: -1px;
    min-height: 600px;
}

#admin-panel #menu-left {
    width: 250px;
    float: left;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    min-height: 300px;
}

#admin-panel #menu-left h3 {
    margin: 30px 0;
}

#admin-panel #menu-left .menu-item {
    line-height: 50px;
    border-bottom: 1px solid #ccc;
    width: 230px;
    display: block;
    padding-left: 20px;
    font-weight: bolder;
}

#admin-panel #menu-left .menu-item:hover {
    background: #e5e5e5;
}

#admin-panel #content {
    float: left;
    width: 850px;
    height: 100%;
    margin: 30px;
}

#toolbar {
    height: 30px;
    margin: 10px 0;
}

.toolbar-button {
    display: inline-block;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
    font-size: 12px;
    padding: 0 3px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    outline: none;
    text-decoration: none;
    line-height: 30px;
}

#tablelistview {
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    color: #555753;
}

#tablelistview thead {
    padding-bottom: 34px;
}

#tablelistview thead th {
    font-weight: normal;
    font-size: 13px;
    color: #fff;
    background: #555753;
    padding: 8px;
    padding-left: 6px;
    text-align: left;
}

#tablelistview tbody td {
    font-size: 13px;
    padding: 4px;
}

#tablelistview tbody tr:hover {
    background: #eee;
}

.alerts {
    padding: 0;
    margin-bottom: 20px;
    font-size: .9em;
}

.alerts li {
    margin-bottom: 3px;
    list-style: none;
}

.alerts li.success {
    background: #c8eebf;
    border: 1px solid green;
    color: green;
    padding: 8px;
}

.alerts li.warning {
    background: #f6f6cf;
    border: 1px solid orange;
    color: orange;
    padding: 8px;
}

.alerts li.error {
    background: #fce9e9;
    border: 1px solid red;
    color: red;
    padding: 8px;
}

.edit {
    background: url("../img/edit.png") left center no-repeat;
    padding-left: 18px;
}

.delete {
    background: url("../img/delete.png") left center no-repeat;
    padding-left: 18px;
}